body{
    font-family: Azonix;
    color: white;
	background: #1A1A1A;
	list-style-type: none;

}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0;
	overflow: hidden;
	background-color: #1A1A1A;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 20px 30px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #1A1A1A;
  }

#playlist-table{
    margin-top: -300px;
    margin-left: 320px;
    width: 900px;
}

.ATPButton:hover {
    color:  #F7931E;
    transition-duration: .6s;
    cursor: pointer;
  }

  .navBar:hover {
    color:  #F7931E;
    transition-duration: .6s;
    cursor: pointer;
  }
.musicplayer
{
  color: white;
  width: 50px; /* Set the width of the sidebar */
  margin-left: 50px;
   
}

#albumArt
{
  box-shadow: 8px 8px rgba(0, 0, 0, 0.548);
  height: 470px;
  width: 470px;

  }

  .item1 { 
	grid-area: header;
	text-align: right;
	border: 4px dotted blue;
  font-size: 30px;

}

#navBar{
  margin-top: 10px;
  font-size: 30px;
  float: right;

}

.item2 {
	grid-area: artwork; 
	float: center;
	border: 4px dotted blue;

}
.item3 {
	grid-area: cueTitle; 
	border-color: coral;
	border: 4px dotted blue;
}
.item4 {
	grid-area: filteredPlaylist; 
	font-family: 'Courier New', Courier, monospace;
	font-size: 30px;

}
.item5 {
	grid-area: footer;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%; 
	border: 4px dotted blue;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header'
    'artwork artwork cueTitle cueTitle'
    'artwork artwork filteredPlaylist filteredPlaylist'
	'footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
  height: 100%;
  border: 4px dotted blue;
}

.AlbumArt{
  grid-area: AlbumArt;
  border: 4px dotted rgb(255, 0, 0);
  width: 100%;
}
.CurrentSong{
  grid-area: Song;
  border: 4px dotted rgb(255, 0, 0);
}
.CurrentArtist{
  grid-area: Artist;
  border: 4px dotted rgb(255, 0, 0);
}
.Progress{
  grid-area: progress;
  border: 4px dotted rgb(255, 0, 0);
}
.Volume{
  grid-area:volume;
  border: 4px dotted rgb(255, 0, 0);
}
.Options{
  grid-area: options;
  border: 4px dotted rgb(255, 0, 0);
}
.Shuffle 
{
  grid-area: shuffle;
  border: 4px dotted rgb(255, 0, 0);
}
.Backward
{
  grid-area: backward;
  border: 4px dotted rgb(255, 0, 0);
}
.Play
{
  grid-area: play;
  border: 4px dotted rgb(255, 0, 0);
}
.Forward 
{
  grid-area: forward;
  border: 4px dotted rgb(255, 0, 0);
}
.Repeat
{
  grid-area: repeat;
  border: 4px dotted rgb(255, 0, 0);
}

.musicplayer-grid{
	display: grid;
	grid-template-areas:
  'AlbumArt AlbumArt AlbumArt AlbumArt AlbumArt'
  'Song Song Song Song Song'
  'Artist Artist Artist Artist Artist'
	'progress progress progress progress progress'
	'shuffle backward play forward repeat'
	'volume volume volume volume volume'
	'options options options options options';

  height: 100%;
  border: 4px dotted green;
}

.grid-container > div {
  padding: 20px 0;

  border: 4px dotted blue;
}

.currentArtwork{
	max-width: 75%;
	height: auto;
	border: 4px dotted blue;
	box-shadow: 8px 8px rgba(0, 0, 0, 0.548);
}














