#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.nav-link{
	cursor: pointer;
}

.logoButton{
	width: 35%;
}

.addToPlaylist{
	cursor: pointer;
}

.fillerRow{
	width: 100%;
	padding-top: 10%;
}

.playerContent{
	display: none;
}

.playerAlbumArt{
	max-width: 100%;
}
.playerAlbumArt:hover{
	box-shadow: 1px 1px 2px #BCBCBC;
	transition-duration: .6s;
	cursor: pointer;
}

.ATPButton{
	text-align: center;
}

.ATPButton:hover {
  box-shadow: inset 400px 0 0 0 #D80286;
  transition-duration: .6s;
  cursor: pointer;
}

.artwork{
	padding-top: 10%;
	display: block;
	position: center;

}

.currentArtist{
	font-family: 'Baumans', cursive;
	text-decoration: none;
	color: white;

}

.currentAlbum{
	font-family: 'Baumans', cursive;
	text-decoration: none;
	color: white;
}

.currentAlbum:hover{
	text-decoration: none;
}

.backButton, .playButton , .ffButton{
	padding-left: 35%;
	align-content: center;
	cursor: pointer;
}

.backButton:hover, .playButton:hover , .ffButton:hover{
	text-shadow: 1px 1px 5px #BCBCBC;
	transition-duration: .6s;
}
