body{
  font-family: Azonix;
  color: white;
  background: #1A1A1A;
}

#browseAll {
  display: none;
}

.circle {
  max-width: 30%;
  padding: 2% 2% 2% 2%;
  border-radius: 50%;
}

#mainAlbums {
  display: block;
}

#mainArtists {
  display: none;
  float: left;
  width: 80%;
  position: relative;
  padding-left: 5%;
}

#mainSearch{
  display: none;
  float: left;
  width: 98%;
  position: relative;
  padding-left: 5%;
}

.mainPages{
  margin-left: 30%;
  width: 70%;
  transition: margin-left .5s;
  padding-top: 5%;
  z-index: 1;
}
#mainPlaylists {
  display: none;
}

.navigation-bar{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  padding-bottom: 1%;
  margin-top: -4px;
  height: 20%;
  background-color:rgba(107, 107, 107, 0.171);
  overflow: hidden;
}

#search , .searchText{
  width: 90%;
}

#currentCue{
  display: none;
}

.resultsTable{
  text-align: left;
  width: 100%;
  padding: 5%;
  letter-spacing: 3px;
  font-size: 20px;
  font-family: "Helvetica Neue";
  font-weight: 200;
}

#showAlbum{
  display: none;
}

.square{
  max-width: 30%;
  margin: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: none;
}

#tableCont{
  color: inherit;
  width: 100%;
  text-align: left;
}


.closebtn, .searchText{
  font-size: 20px;
  font-family: "Helvetica Neue";
  font-weight: 200;

}

td{
  padding-top: 4%;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.logo-button{
  padding-top: 1%;
  padding-left: 1%;
  max-width: 5%;
  border:none;
  float: left;
  background-color: Transparent;

}

.apolloBrand{
  height: 10%;
  color: white;
  letter-spacing: 3px;
  float: left;
  padding-top: 2%;
  padding-left: 2%;
}

.searchButton{
  padding-top: 2.9%;
  padding-right: 5%;
  float: right;
  background-color: transparent;

}
.songSearch{
  padding-top: 2.5%;
  padding-right: 1%;
  float: right;
  background-color: transparent;
}
.albums{
  padding-top: 2.5%;
  padding-right: 5%;
  float: right;
  background-color: transparent;
}
.playlist{
  float: right;
  padding-right: 5%;
  padding-top: 2.5%;
  background-color: transparent;
}

.artists{
  float: right;
  padding-right: 5%;
  padding-top: 2.5%;
  background-color: transparent;
}

.currentlyPlaying{
  float: left;
  width: 380px;
  height: 100%;
  margin-top: -200px;
  margin-bottom: 0px;
  padding-top: 15%;
  padding-bottom: 50%;
  position: static;
}

.playerAlbumArt{
  padding-top: 5%;
  padding-left: 10%;
  padding-right: auto;
  max-width: 90%;
}

.currentArtist{
  opacity: 0.5;
  padding-left: 10%;
  padding-top: 1%;
  font-size: 12px;
  font-family: "Azonix";
  font-weight: 200;
  padding-bottom: 5%;
}

.currentSong{
  padding-left: 10%;
  padding-top: 5%;
  font-size: 15px;
  font-family: "Azonix";
  font-weight: 200;
}

.volumeBar{
  padding-top: 5%;
  width: 100%;
  padding-left: 10%;
}

.playbackControls{
  color: white;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.backButton {
  opacity: 0.6;
  padding-left: 10%;
  padding-top: .5%;
}

.backButton:hover {
  opacity: 1;
  padding-left: 10%;
  padding-top: .5%;
}

.playButton{
  opacity: 0.6;
  margin-left: 25%;
  margin-right: 25%;

}

.playButton:hover{
  opacity: 1;
  margin-left: 25%;
  margin-right: 25%;

}

.ffButton{
  opacity: 0.6;
  padding-right: 10%;
  padding-top: .5%;
}

.ffButton:hover{
  opacity: 1;
  padding-right: 10%;
  padding-top: .5%;
}

.volume{
  opacity: 0.95;
  padding-left: 10%;
  width: 90%;
  max-width: 100%;
}

.volume:hover{
  opacity: 1;
  padding-left: 10%;
  width: 90%;
  max-width: 100%;
}

.Shuffle{
  opacity: 0.6;
}

.Shuffle:hover{
  opacity: 1;
}

.Repeat{
  opacity: 0.6;
}

.Repeat:hover{
  opacity: 1;
}

.albumArt{
  opacity: 1;
  max-width: 30%;
  float: left;
  padding-top: 0%;
}

.albumArt:hover{
  opacity: 0.8;
  max-width: 30%;
  float: left;
  padding-top: 0%;
}

.exit{
  float: left;
}

.selectedAlbum{
  float: right;
  text-align: left;
  width: 50%;
  padding: 5%;
  text-align: left;
  letter-spacing: 3px;
  font-size: 20px;
  font-family: "Helvetica Neue";
  font-weight: 200;
}

.duration{
  float: right;
}

.artistDisplay{
  text-align: left;
  width: 100%;
  padding: 5%;
  letter-spacing: 3px;
  font-size: 20px;
  font-family: "Helvetica Neue";
  font-weight: 200;
}

.pause
{
  display: none;
  margin-left: 25%;
  margin-right: 25%;
}

#currentCue{
  float: center;
  width: 60%;
  position: fixed;
  background-color:#1A1A1A;

}

#exit
{
  
  float: left;
  font-size: 120%;
  color: white;
  background: transparent;
  border: transparent;
  opacity: 0.6;
}

#exit:hover
{
  opacity: 1;
}

#Qart
{
  width: 50%;
  height: 50%;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
}

#header
{
  float: left;

}

#Q
{
  float: left;
  list-style-type: none;
  font-size: medium;
  font-family: Helvetics Neau;
  font-size: 20px;

}

#rewind
{
  display: inline;
}

#rewindSong
{
  display: none;
  color: #f7931E;
}

